@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800,900,100,200);

body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  line-height: 2rem;
}

h1 {
  font-size: 1.8rem;
  line-height: 2.8rem;
}

a {
  text-decoration: none;
  color: gray;
  font-weight: 600;
}
